<h3 style="text-align: center;">Range Custom Pipe Demo</h3>
<hr>
<div style="text-align: center; margin-bottom: 20px;">
<!-- Select the Field: <select [(ngModel)]="field">
    <option value="deptno">Department Number</option>
    <option value="sal">Salary</option>
</select> -->
Min Value :  <input  [(ngModel)]="min">
Max Value :  <input  [(ngModel)]="max">
<button (click) = "getData_click()"> Get Data</button>
</div>
<table border=2px align="center">
    <tr>
        <th colspan="5">Employee Details</th>
    </tr>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Job</th>
        <th>Dept Number</th>
        
    </tr>
    <tr *ngFor="let emp of empData | range : key : min :max ">
      
        <td>{{emp.empno}}</td>
        <td>{{emp.ename | titlecase}}</td>
        <td>{{emp.sal}}</td>
        <td>{{emp.job | uppercase}}</td>
        <td>{{emp.deptno}}</td>
    </tr>
</table>